* {
    margin: 0;
    padding: 0;
}

html, body {
    padding: 10px;
    background: #fbfbfb;
    background: url("Images/Paintings/Backgrounds/background.jpg") no-repeat center center;
    background-size: cover;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.grid-wrapper > div:hover {
    transform: scale(1.1);
}

.grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: white;
    border-radius: 1vh;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper .wide {
    grid-column:span 2;
}

.grid-wrapper .tall {
    grid-row:span 2;
}

.grid-wrapper .big {
    grid-row:span 2;
    grid-column:span 2;
}

.grid-wrapper .extra_big {
    grid-row:span 3;
    grid-column:span 2;
}

#back_toGallery {
    display: block;
    width: 4vw;
    height: 4vw;
    margin-bottom: 5vh;
    background: rgba(103, 100, 100, 0.1) url("Images/Icons/back_button.png") no-repeat center center;
    background-size: 80%;
    border-radius: 2vh;
    transition: background-color 0.5s ease;
}

#back_toGallery:hover {
    background-color: #7e9365;
}

header {
    display: flex;
    flex-direction: row;
    text-align: center;
}

p {
    display: flex;
    width: 96vw ;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 4vw;
    padding-right: 5vh;
    font-size: 4vh;
}