* {
    margin: 0 0;
    padding: 0 0;
}

header {
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    gap: 57vh;
    align-items: center;
}

body {
    background: url("images/background.jpg") no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    padding: 5%;
    background-color: #fbfbfb;
    margin:2% 6% 0 6%;
    height: auto;
    border-radius: 4vh;
    gap: 5%;
}

#Title {
    font-size: 4vh;
    float: none;
}

#back_toMain {
    display: block;
    width: 4vw;
    height: 4vw;
    background: rgba(103, 100, 100, 0.1) url("images/back_button.png") no-repeat center center;
    background-size: 80%;
    border-radius: 2vh;
    transition: background-color 0.5s ease;
}

#back_toMain:hover {
    background-color: #7e9365;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:1%;
    margin:0 8%;
}
div span {
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: 12vw;
    justify-content: flex-end;
    align-items: center;
}
div span a{
    display: block;
    width: 8vw;
    height: 6vw;
    background: #7e9365;
    border-radius: 2vh;
    text-decoration: none;
    z-index: 3;
    box-shadow: 0 -0.5vh 0.7vh rgba(0,0,0,0.3);
}

#first_line #f {
    background: rgba(103, 100, 100, 0.1) url("images/Pleaner.jpg") no-repeat center center;
    background-size: 100%;
}

#first_line #s {
    background: rgba(103, 100, 100, 0.1) url("images/Scenery.jpg") no-repeat center center;
    background-size: 100%;
}

#first_line #t {
    background: rgba(103, 100, 100, 0.1) url("images/StillLife.jpg") no-repeat center center;
    background-size: 100%;
}

#first_line #fo {
    background: rgba(103, 100, 100, 0.1) url("images/Portrait.jpg") no-repeat center center;
    background-size: 100%;
}

#first_line #fi {
    background: rgba(103, 100, 100, 0.1) url("images/Furry.JPG") no-repeat center center;
    background-size: 100%;
}

div span::after {
    content: '';
    display: block;
    position: relative;
    background: #485935;
    border-radius: 0 2vh 0 0;
    width: 8vw;
    height: 2vw;
    top: -6.5vw;
    left: 0;
    z-index: 1;
}

div span::before {
    content: '';
    display: block;
    position: relative;
    width:2vw;
    height: 0.7vw;
    background: #485935;
    border-radius:0.5vh 0.7vh 0 0 ;
    top:+3.1vw;
    left:-3vw;
    z-index: 1;
}

span div {
    position: relative;
    width: 7.5vw;
    border-radius: 1vw;
    height: 4vw;
    background: #fbfbfb url("images/main_image.JPG") no-repeat 100% center;
    background-size: cover;
    bottom:-3.5vw;
    z-index: 2;
    transition: transform 0.3s ease;
}

span:hover > div {
    transform: translateY(-3vh);
}

span.notActive {
    opacity: 0;
    pointer-events: none;
}

span p {
    color: black;
    text-align: center;
    position: relative;
    bottom:-12vh;
    font-size: 2.3vh;
}

