* {
    margin: 0;
    padding: 0;
}

body, html {
    display: flex;
    flex-direction: column;
    background: url("Images/Paintings/Backgrounds/background.jpg") no-repeat;
    background-size: cover;
    flex-shrink: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

section {
    width: 88%;
    height: 100%;
    margin: 3% 6%;
}

#back_toPrices {
    display: block;
    width: 4vw;
    height: 4vw;
    background: #fbfbfb url("Images/Icons/back_button.png") no-repeat center center;
    background-size: 80%;
    border-radius: 2vh;
    transition: background-color 0.5s ease;
}

#back_toPrices:hover {
    background-color: #7e9365;
    background-size: 100%;
}

div:first-of-type:not(#authors) {
    margin: 13vh 0;
    display: flex;
    flex-direction: column;
    gap:5vh;
}

div a {
    display: flex;
    width: 60%;
    height: 12vh;
    margin: 0 20%;
    border-radius: 2.2vh;
    background: #fbfbfb;
    text-align: end;
    align-content: center;
    text-decoration: none;
    color: black;
    gap:4vw;
}

img {
    height: 10vh;
    width: 10vh;
    margin: 1vh;
}

p {
    display: flex;
    line-height: 12vh ;
    text-align: center;
    font-size: 3vh;

}

#authors {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

#authors::after {
    content:'';
    position: absolute;
    bottom:-76vh;
    width: 105vw;
    height: 100vh;
    border-radius: 100vh;
    background: #485935;
    z-index: 0;
    animation: Delayed 4s ease reverse;
}

@keyframes Delayed {
    to {
        transform: translateY(25vh)
    }
}

@keyframes Appear {
    from {
        opacity: 0;
        transform: translateY(2vh);
    }
    to {
        opacity: 1;
    }
}

#authors img {
    width: 22vh ;
    height: 24vh;
    z-index: 1;
    opacity: 0;
    animation: Appear 2s ease forwards;
    animation-delay: 4s;
}