* {
    margin: 0 0;
    padding: 0 0;
}

body {
    display: flex;
    flex-direction: column;
    background: url("images/background.jpg") no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
    margin: 3% 10%;
    gap: 10vw;
}

p {
    font-weight: bold;
    font-size: 6vh;
}

.container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.img {
    background: grey url("images/papper.png");
    background-size:70%;
    width:30vw;
    height: 40vh;
}

.container:last-of-type {
    flex-direction: column;
    justify-content: center;
}