* {
    margin: 0 0;
    padding: 0 0;
}

body, html {
    display: flex;
    flex-direction: column;
    background: url("Images/Paintings/Backgrounds/background.jpg") no-repeat;
    background-size: cover;
    flex-shrink: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

a {
    display: block;
    width: 4vw;
    height: 4vw;
    background: #fbfbfb url("Images/Icons/back_button.png") no-repeat center center;
    background-size: 80%;
    border-radius: 2vh;
    transition: background-color 0.5s ease;
}

a:hover {
    background-color: #7e9365;
    background-size: 100%;
}

#header {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 88%;
    height: 6%;
    margin: 3% 6% 0;
}

a:last-of-type {
    background-image: url("Images/Icons/social_medias.JPG");
    transition: background 0.5s ease;
}

a:last-of-type:hover {
    background:#fbfbfb url("Images/Icons/social_media_hover.JPG") no-repeat center center;
    background-size: cover;
}

#main_content {
    display: flex;
    flex-direction: row;
    width: 88%;
    height: 90%;
    margin: 1% 35% 0 10%;
}


main {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80vh;
    background: #fbfbfb;
    border: 0.2vh solid black;
    border-bottom: #fbfbfb;
    animation: Appear 2s ease forwards;
    animation-delay: 2s;
    opacity: 0;
}

section:not(#title) {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2vh 0;
    width: 100%;
    height: 22.5vh;
    border-bottom: 0.2vh solid black ;
    text-transform: uppercase;
}

.main-text {
    display: flex;
    width: 100%;
    text-align: start;
    text-transform: none;
    justify-content: space-between;
    margin: 3vh 10% 0;
}

main section {
    font-size: 2vh;
    animation: Appear 2s ease forwards;
    animation-delay: 3s;
    opacity: 0;
    pointer-events: none;
}

main section p {
    font-size: 2vh;
    animation: Appear 2s ease forwards;
    animation-delay: 3s;
    opacity: 0;
}

#header p:last-of-type {
    text-transform: uppercase;
    font-size: 2.7vh;
    animation: Appear 2s ease forwards;
    opacity: 0;
    animation-delay: 1s;
}

@keyframes Appear {
    to {
        opacity: 1;
        pointer-events: auto;
    }
}



#header p:first-of-type {
    text-transform: uppercase;
    padding-bottom: 0.5vh;
    font-size: 2.5vh;
    animation: Appear 2s ease forwards;
    opacity: 0;
}


#examples {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80vh;
}

#examples img {
    padding: 1vw;
    width: 10vw ;
    height: 22.5vh ;
    opacity: 0;
    transition: all 0.3s ease;
}

#main_content:has(main section:nth-of-type(1):hover) #examples img:nth-of-type(1) {
    opacity: 1;
    transform: scale(1.2);
}

#main_content:has(main section:nth-of-type(2):hover) #examples img:nth-of-type(2) {
    opacity: 1;
    transform: scale(1.2);
}

#main_content:has(main section:nth-of-type(3):hover) #examples img:nth-of-type(3) {
    opacity: 1;
    transform: scale(1.2);
}

