body {
    display: flex;
    background: url("images/regi-auto-background.JPG") no-repeat center center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin:9% 6%;
}

div {
    display: flex;
    flex-direction: column;
    gap:20px;
}

div:nth-child(2) {
    gap:16px;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    padding: 38px;
    gap: 45px;
    width: 30%;
    height: 40%;
    left: 643px;
    top: 251px;
    background: #A5AB8D;
    border-radius: 30px;
}

a:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50px;
    height: 50px;
    background: rgba(103, 100, 100, 0.1) url("images/back_button.png") no-repeat center center;
    background-size: 80%;
    border-radius: 15px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    transition: background-color 0.5s ease;
}

a:nth-child(1):hover {
    background-color: #7e9365;
}

label {
    font-family: "Roboto Light", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

input {
    border: none;
    border-radius: 15px;
    padding: 1% 0;
    text-align: center;
    background: #fbfbfb;
    width: 100%;
    height: 50px ;
    font-size: 24px;
}

input:nth-child(4) {
    width: 120px;
    border-radius: 25px;
    transition: background-color 0.5s ease;
}

input:hover, input:not(:hover) {
    outline: none;
}

::placeholder {
    color: #C1C1C1;
}


input:nth-child(4):hover {
    background-color: #485935;
    color: #93A267;
}

#auth {
    text-decoration: none;
    background: none;
    border-style: none;
    font-size: 28px;
    color: rgb(81, 81, 81, 0.66);
    font-weight: bold;
    transition: color 0.5s ease;
}

#auth:hover {
    color: rgba(81, 81, 81);
}